---
page_title: "fybe-terraform"
subcategory: ""
description: |-
  Manage your Fybe infrastructure with our terraform provider.

---

# Fybe Provider

A terraform provider for managing infrastructure offered by [Fybe](https://fybe.com) like compute instance, vpc or S3 object-storage.  

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
